@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--primary-color: hsl(218, 44%, 22%);
	--secondary-color: hsl(216, 15%, 48%);
	--background-color: hsl(212, 45%, 89%);
	--card-background-color: hsl(0, 0%, 100%);
}

html,
body {
	height: 100%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 1.6;
	font-family: 'Outfit', sans-serif;
	color: var(--secondary-color);
	background-color: var(--background-color);
}

img {
	display: block;
	max-width: 100%;
	border-radius: 10px;
}

h1 {
	font-size: 1.375rem;
	font-weight: 700;
	line-height: 1.2;
	color: var(--primary-color);
}

p {
	letter-spacing: 0.2px;
}

.card-container {
	display: flex;
	flex-direction: column;
	row-gap: 24px;
	width: 100%;
	max-width: 320px;
	padding-inline: 16px;
	padding-block: 16px 40px;
	margin-inline: 16px;
	border-radius: 20px;
	background-color: var(--card-background-color);
}

.image-container {
	display: flex;
}

.text-container {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
	padding-inline: 16px;
	text-align: center;
}
